<form class="form" action="/add-item/{{id}}" method="post">
  <img class="img-circle" src="{{image}}" alt="{{name}}">
  <label for="item-name" class="list-item">
    Name:
    <input type="text" name="name" id="item-name" value="{{name}}">
  </label>
  
  <label for="quantity" class="form-item">
    Breed:
    <input type="text" name="#" id="#" value="{{breed}}">
  </label>
  
  {{!-- <label for="owner" class="form-item">
    Owner:
    <input type="text" name="owner" id="owner" value="{{owner}}">
  {{!-- </label>
  
  <input type="hidden" name="image" value="{{image}}">
  
  {{!-- <input type="submit" value="Submit"> --}} --}} --}}
</form>
