<div class="container">
  <div class="logo-header">
        <img
          class="logo"
          src="./images/logo-happy-campers.png"
          alt="happy camper logo"
        />
      </div>
      <div class="paper">
        <h1>Shopping List</h1>
        <div class="list">
         {{#each list}}
  <div class="list-item">
    <label class="checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>
    <a href="/{{id}}"><img class="img-circle" src="{{image}}" alt="{{product}}"></a>
    <span class="item-label">{{product}}</span>
    <span class="quantity">x{{quantity}}</span>
    <form action="/delete-item/{{id}}" method="post"><button class="delete-item" type="submit"></button></form>
     </div>
  {{/each}}
  <div class="actions">
          <a href="/add-item">Add item</a>
           <form action="/clearAll" method="post"><button class="submit" type="submit">Clear All</button></form>
        </div>
     {{>pencil}}
  </div>
</div>