<div class="container">
  <div class="logo-header">
        <img
          class="logo"
          src="./images/logo-happy-campers.png"
          alt="happy camper logo"
        />
      </div>
      <div class="paper">
        <h1>Shopping List</h1>
        <div class="list">
         {{#each list}}
  <div class="list-item">
    <label class="checkbox">
              <input type="checkbox" />
              <span class="checkmark"></span>
            </label>
    <a href="/{{id}}"><img class="img-circle" src="{{image}}" alt="{{item-name}}"></a>
    <span class="item-label">{{item-label}}</span>
    <span class="quantity">x{{quantity}}</span>
    <button class="delete-item"></button>
  </div>
  {{/each}}
  <div class="actions">
          <a href="/add-item">Add item</a>
          <a href>Clear list</a>
        </div>
     {{>pencil}}
  </div>
</div>